<div class="overlay-{{length players}}">
    {{#each teams}}
        <div class="team team-{{@index}}">
            {{#each players}}
                <span class="player">
                    <span class="profile">
                        <span class="ranking">{{ranking}}</span>
                        <img
                            class="rank"
                            src="{{rank @root.matchType this}}"
                            alt="rank-image"
                        />
                        <img src="{{raceImg race}}" class="race" />
                        <span class="alias">{{profile.alias}}</span>
                        <img
                            class="country"
                            src="https://flagsapi.com/{{uppercase profile.country}}/shiny/64.png"
                            alt="{{profile.country}}"
                        />
                    </span>
                </span>
            {{/each}}
        </div>
    {{/each}}
</div>
